{% extends "base.html" %}

{% block content %}

<div class="topbar">
    <h1>📈 Dashboard</h1>
</div>

<!-- KPI Cards -->
<div class="cards">

    <div class="card">
        <h3>Portfolio Value</h3>
        <h2>${{ "{:,.2f}".format(portfolio_value) }}</h2>
    </div>

    <div class="card">
        <h3>Total Return</h3>
        <h2>{{ total_return }}%</h2>
    </div>

    <div class="card">
        <h3>Sharpe Ratio</h3>
        <h2>{{ sharpe_ratio }}</h2>
    </div>

    <div class="card">
        <h3>Total Trades</h3>
        <h2>{{ total_trades }}</h2>
    </div>

</div>

<br>

<!-- Portfolio Chart -->
<div class="chart">

    <h2>Portfolio Growth</h2>

    {{ portfolio_chart|safe }}

</div>

<br>

<!-- Signal Chart -->
<div class="chart">

    <h2>Signal Distribution</h2>

    {{ signal_chart|safe }}

</div>

{% endblock %}